*{
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #cdcecf;
}
html, body, #root, .base {
    height:100%;
}
#root {
    display:flex;
    justify-content: center;
}
.base {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow:0;
    flex-shrink:1;
    justify-content: space-around;
    height: 10vh;
}
header {
    display: flex;
    height:auto;
    font-size: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: row;
}
header div {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    width: 200px;
    margin: .5vw;
}
header div img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 400px) {
    header div { margin: 0; }
    header { padding: 0; }

}
.panorama img {
    width:100%;
    height: auto;
}
.base {
    display: flex;
    flex-shrink:1;
    flex-grow:0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}
.navigation {
    display: flex;
    flex-direction: column;
    flex-grow:0;
    flex-shrink: 0;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-grow:1;
    flex-shrink:1;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding-right:40px;
}

.nav li a:hover {
    background-color: #7f7f7f;
    border-radius: 15px;
}
.nav li{
    padding: 5px;
    display: flex;
    align-content: space-between;
}
.active {
    border-bottom: white solid 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav li a {
    text-decoration: none;
    display: flex;
    align-self: center;
    padding: 5px;
    font-size: 20px;
}

hr {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 0;
    height: 5px;
    background-color: #7f7f7f;
    border-radius: 3px;
}
.bottomHr {
    width: 100%;
}
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-around;
}
.contact, .follow {
    padding: 20px;
}
.socialIcons {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.socialIcons a {
    padding:5px;
}